 /*
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */

#container {
  margin: 48px auto;
  width: 960px;
}

.col-md-4 {
	width: 23%;
	background-color: #F2F2F2;
	text-align: center;
	margin: 5px;
	font-size: 22px;
    border-collapse: collapse;
}

.col-md-4 > p {
	font-size: 14px;
}

.form {
	text-align: center;
}
